<style type="text/css">
div.container {
width: 100%; /*lebar*/
border: 10px solid grey; /*sigkatan,
urutan: border-width; border-style (required);
border-color*/
}
header, footer {
padding: 1em; /*ruang batas/ lapisan*/
color: cyan; /*warna teks*/
background-color: #F64668; /*warna
background*/
text-align: center; /*posisi teks*/
}
nav {
float: left; /*bagaimana element
mengambang/ floating*/
max-width: 160px; /*lebar max*/
margin: 0; /*batas*/
padding: 1em; /*ruang batas/ lapisan*/
background-color: #FE9677;
}
nav ul {
list-style-type: none;
padding: 0px;
}
nav ul a {
text-decoration: none; 
font-style: italic/*dekorasi teks*/
/*contoh=> text-decoration: underline
overline dotted red;*/
}
nav ul a:hover{
background-color: blue;
color: white;
}
article {
margin-left: 170px;
border-left: 1px solid gray;
padding: 1em;
overflow: hidden; /*apa yang harus terjadi
jika konten meluap*/
background-color: #41436A;
color: white;
font-family: monospace;
}
</style>