<style>
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: grey;
}

.container{
    width: 960px;
    margin: auto;
    height: 700px;
    background-color: white;
}

.judul img{
    width: 960px;
    height: 120px;
}

.judul h1{
    position: absolute;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-family: sans-serif;
}

.judul h2{
    position: absolute;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    font-family: sans-serif;
}

.navigasi{
    height: 50px;
    background-color: blue;
}
.navigasi ul li{
    display: inline-block;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigasi ul li:hover{
    background-color: green;
}

.navigasi ul li a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

.konten .kiri{
    width: 500px;
    float: left;
}

.kiri h1{
    text-align: center;
}

.kiri p{
    margin-left: 20px;
    font-size: 20px;
}

.konten .kanan img{
    float: right;
    width: 40%;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}

.footer{
    height: 25px;
    background-color: black;
    margin: auto;
    width: 960px;
}

.footer h3{
    text-align: center;
    color: white;
}

.sosmed img{
    width: 70px;
    padding-bottom: 50px;
}

.sosmed ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding-left: 50px;
}

.sosmed h3 {
    text-align: left;
    padding-left: 20px;
}
</style>