<style>
div{
	background-color: palegreen;
}

#background-color{
	background-color: cyan;
}

.background-color{
	background-color: palegreen;
}

.border{
	border-color: palegreen;
	border-width: 10px;
	border-style: solid;
	border-radius: 10px;
}

.color{
	color: gold;
}
</style>